{extends "idf/base-simple.html"}
{block docclass}yui-t3{/block}
{block body}
<ul>
<li><a href="#q-keyboard">{trans 'What are the keyboard shortcuts?'}</a></li>
<li><a href="#q-duplicate">{trans 'How to mark an issue as duplicate?'}</a></li>
</ul>

<h2 id="q-keyboard">{trans 'What are the keyboard shortcuts?'}</h2>

<p>{trans 'If you are in a project, you have the following shortcuts:'}</p>

<ul>
<li>{trans '<kbd>Shift+h</kbd>: Project home.'}</li>
<li>{trans '<kbd>Shift+u</kbd>: Project updates.'}</li>
<li>{trans '<kbd>Shift+d</kbd>: Downloads.'}</li>
<li>{trans '<kbd>Shift+s</kbd>: Source.'}</li>
<li>{trans '<kbd>Shift+a</kbd>: Create a new issue.'}</li>
<li>{trans '<kbd>Shift+i</kbd>: List of open issues.'}</li>
<li>{trans '<kbd>Shift+m</kbd>: The issues you submitted.'}</li>
<li>{trans '<kbd>Shift+w</kbd>: The issues assigned to you.'}</li>
</ul>

<p>{trans 'You also have the standard access keys:'}</p>

<ul>
<li>{trans '<kbd>Alt+1</kbd>: Home.'}</li>
<li>{trans '<kbd>Alt+2</kbd>: Skip the menus.'}</li>
<li>{trans '<kbd>Alt+4</kbd>: Search (when available).'}</li>
</ul>

<h2 id="q-duplicate">{trans 'How to mark an issue as duplicate?'}</h2>

{blocktrans}<p>This is simple:</p>
<ol>
<li>Write in the comments "This is a duplicate of issue 123", change 123 with the corresponding issue number.</li>
<li>Change the status of the current issue to <em>Duplicate</em>.</li>
<li>Submit the changes.</li>
</ol>{/blocktrans}
 
{/block}
{block context}
<p>{trans 'Here we are, just to help you.'}</p>
<h2>{trans 'Projects'}</h2>
<ul>{foreach $projects as $p}
<li><a href="{url 'IDF_Views_Project::home', array($p.shortname)}">{$p}</a></li>
{/foreach}</ul>
{/block}
