{extends "idf/base-simple.html"}
{block docclass}yui-t1{/block}
{block body}
<form method="post" action="{url 'IDF_Views::login'}">
<input type="hidden" name="_redirect_after" value="{$_redirect_after}" />
{if $error}
<p class="px-message-error">{$error}</p>
{/if}
<h3>{trans 'What is your login?'}</h3>
<p><label for="id_login">{trans 'My login is'}</label> <input type="text" name="login" id="id_login" value="{$login}" /></p>

<h3>{trans 'Do you have a password?'}</h3>
<p><input name="action" id="action-new-user" value="new-user" type="radio" /> <label for="action-new-user">{trans 'No, I am a new here.'}</label></p>

<p><input name="action" id="action-login" value="login" type="radio" checked="checked" /> <label for="action-login">{trans 'Yes'}</label>, <label for="id_password">{trans 'my password is'}</label> <input type="password" name="password" id="id_password" /></p>

<p><input type="submit" value="{trans 'Sign in'}" />
| <a href="{url 'IDF_Views::passwordRecoveryAsk'}">{trans 'I lost my password!'}</a>
</p>
</form>
<script type="text/javascript">
document.getElementById('id_login').focus()
</script>
{/block}
