<h3 class="top">Terms and Conditions</h3>

<p><strong>Legal stuff</strong></p>

<ul>
<li>Respect others.</li>
<li>You are legally responsible for what you write.</li>
<li>Do not write things you will be ashmed of in 5 years.</li>
<li>We may send you an email from time to time with respect to the use of this service.</li>
<li>We are not going to spam you in any way.</li>
<li>We reserve the right to disable accounts with a non functional email address.</li>
</ul>

<p><strong>Technical stuff</strong></p>

<ul>
<li>You will need to enable cookies in your browser.</li>
<li>The interface will look nicer with Javascript enabled.</li>
<li>We will send you an email to validate your account.</li>
</ul>

<p><strong>Very important stuff</strong></p>

<p>You are <strong>welcome!</strong></p>

