{if $isOwner or $isMember}
<script type="text/javascript" src="{media '/idf/js/jquery.bgiframe.min.js'}"></script>
<script type="text/javascript" src="{media '/idf/js/jquery.autocomplete.min.js'}"></script>
<script type="text/javascript" charset="utf-8">
// <!-- {literal} 
  $(document).ready(function(){
    var auto_labels = [{/literal}{$auto_labels|safe}{literal}];
    var j=0;
    for (j=1;j<7;j=j+1) {
  $("#id_label"+j).autocomplete(auto_labels, {
		minChars: 0,
		width: 310,
		matchContains: true,
		max: 50,
		highlightItem: false,
		formatItem: function(row, i, max, term) {
			return row.to.replace(new RegExp("(" + term + ")", "gi"), "<strong>$1</strong>") + "  <span style='font-size: 80%;'>" + row.name + "</span>";
		},
		formatResult: function(row) {
			return row.to;
		}
	});
}
  });
{/literal} //-->
</script>
{/if}
