{extends "idf/issues/base.html"}
{block docclass}yui-t2{assign $inMyIssues = true}{/block}
{block body}
{$issues.render}
{if !$user.isAnonymous()}
{aurl 'url', 'IDF_Views_Issue::create', array($project.shortname)}
<p><a href="{$url}"><img style="vertical-align: text-bottom;" src="{media '/idf/img/add.png'}" alt="+" align="bottom" /></a> <a href="{$url}">{trans 'New Issue'}</a></p>{/if}

{/block}
{block context}
{aurl 'owner_url', 'IDF_Views_Issue::myIssues', array($project.shortname, 'owner')}
{aurl 'submit_url', 'IDF_Views_Issue::myIssues', array($project.shortname, 'submit')}
{aurl 'owner_closed_url', 'IDF_Views_Issue::myIssues', array($project.shortname, 'ownerclosed')}
{aurl 'submit_closed_url', 'IDF_Views_Issue::myIssues', array($project.shortname, 'submitclosed')}
<p><strong>{trans 'Submitted issues:'}</strong> <a href="{$submit_url}">{$nb_submit}</a> {if $nb_submit_closed}<span class="nobrk">(<a href="{$submit_closed_url}">{blocktrans $nb_submit_closed}{$nb_submit_closed} closed{plural}{$nb_submit_closed} closed{/blocktrans}</a>)</span>{/if}</p>
{if $nb_owner > 0}
<p><strong>{trans 'Working issues:'}</strong> <a href="{$owner_url}">{$nb_owner}</a> {if $nb_owner_closed}<span class="nobrk">(<a href="{$owner_closed_url}">{blocktrans $nb_owner_closed}{$nb_owner_closed} closed{plural}{$nb_owner_closed} closed{/blocktrans}</a>)</span>{/if}</p>{/if}
{/block}
