{extends "base-simple.html"}
{block docclass}yui-t1{/block}
{block body}
<ul>
<li><a href="#q-keyboard">What are the keyboard shortcuts?</a></li>
<li><a href="#q-duplicate">How to mark an issue as duplicate?</a></li>
</ul>

<h2 id="q-keyboard">What are the keyboard shortcuts?</h2>

<p>If you are in a project, you have the following shortcuts:</p>

<ul>
<li><kbd>Shift+a</kbd>: Create a new issue.</li>
<li><kbd>Shift+r</kbd>: List of recently submitted issues.</li>
<li><kbd>Shift+m</kbd>: The issues you submitted.</li>
<li><kbd>Shift+w</kbd>: The issues assigned to you.</li>
</ul>

<h2 id="q-duplicate">How to mark an issue as duplicate?</h2>

<p>This is simple:</p>
<ol>
<li>Write in the comments "This is a duplicate of issue 123", change 123 with the corresponding issue number.</li>
<li>Change the status of the current issue to <em>Duplicate</em>.</li>
<li>Submit the changes.</li>
</ol>
 
{/block}
{block context}
<p>{trans 'Here we are, just to help you.'}</p>
{/block}
