{extends "base-simple.html"}
{block docclass}yui-t1{/block}
{block body}
<ul>
<li><a href="#q-keyboard">What are the keyboard shortcuts?</a></li>
</ul>

<h2 id="q-keyboard">What are the keyboard shortcuts?</h2>

<p>If you are in a project, you have the following shortcuts:</p>

<ul>
<li><kbd>Shift+a</kbd>: Create a new issue.</li>
<li><kbd>Shift+r</kbd>: List of recently submitted issues.</li>
<li><kbd>Shift+m</kbd>: The issues you submitted.</li>
<li><kbd>Shift+w</kbd>: The issues assigned to you.</li>
</ul>

{/block}
{block context}
<p>{trans 'Here we are, just to help you.'}</p>
{/block}
