{extends "base-simple.html"}
{block body}
<table class="form" summary="">
<tr>
<th></th>
<td>{$member}</td>
</tr>
<tr>
<th>{trans 'Last time seen:'}</th>
<td>{$member.last_login|dateago}</td>
</tr>
<tr>
<th>{trans 'Member since:'}</th>
<td>{$member.date_joined|date}</td>
</tr>
</table>
{/block}
{block context}
<div class="issue-submit-info">
<p>{blocktrans}You are looking at the public profile of {$member}.{/blocktrans}</p>
</div>
<h2>{trans 'Projects'}</h2>
<ul>{foreach $projects as $p}
<li><a href="{url 'IDF_Views_Project::home', array($p.shortname)}">{$p}</a></li>
{/foreach}</ul>
{/block}


